#rektangeltitel {
    text-align: center;
    font-size: 25px;
    border: 10px black;
    border-style: solid;
    display: flex;
    justify-content: space-between  
    
}

#left-image {
    position: end;
}



body {
    background-image: url(/img/winter-snow.jpg);
}

h1 {
    background-color: grey;
    color: white

}

.tabell1 {
    color: white;
    background-color: darkgray;
    border: 10px gold;
    border-style: solid;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

